[
  {rabbit,
   [
     {tcp_listeners, [5672]},
     {disk_free_limit, {mem_relative, 1.0} },
     {cluster_partition_handling, ignore },
     {default_vhost, <<"/">>},
     {default_user, <<"guest">>},
     {default_permissions, [<<".*">>, <<".*">>, <<".*">>]}
   ]
  },
  {rabbitmq_management,
   [
     {listener, [{port, 15672 }, {ip, "127.0.0.1"}]}
   ]
  }
]

